---
---
<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}
    {% include splash.html %}
    <div id="content">
      <div class="callout">Frequently Asked Questions</div>
      <div class="help">
        If you find anything inaccurate on this page, want to contribute, or have any questions, write <a href="mailto:staff@everytwoyears.org">staff@everytwoyears.org</a>
      </div>
      <div class="section">
        <div class="title">How will you use donations? I like your mission, but how are you going to do it?</div>
        <p>We incorporated as a 527 instead of a 501(c)(3) so that we can directly influence elections. With your donations, we are going to fund analysis of candidates coming up for re-election. For the candidates that don't measure up, we are going to <i>actively</i> campaign against them in their districts.</p>
        <p>There are a lot of candidates. We are going to prioritize based, first, on who is up for immediate re-election this cycle. Within that group we will prioritize based on how "badly" each candidate has failed in our measurements. We are also going to prioritize representatives who have participated in committees (such as the <a href="https://www.intelligence.senate.gov">Senate Intelligence Committee</a>) that oversee the points in our mission.</p>
      </div>
      <div class="section">
        <div class="title">Your mission seems important, but what about this other cause?</div>
        <p>We've picked our measurements carefully with the goal of creating a functioning representative democracy. The individuals involved in Every Two Years believe in far more than just these measurements, but believe citizens can drive change when given a functioning government.</p>
        <p>A good example of this is civil rights. We are avid civil rights supporters but believe progress on civil rights has been chilled by illegal activity in our government. Our government has actively undermined civil rights movements. We consider civilian oversight of our government to be on the critical path for making meaningful progress on civil rights.</p>
      </div>
      <div class="section">
        <div class="title">You are suggesting I vote against a candidate but their opponent is terrible!</div>
        <p>It's not about trying to pick the best option given to us by a broken system, it's about using the power we have to apply pressure to our representatives. This election cycle we are going to encourage you to vote this candidate out of office. If we succeed, then the next election cycle we are going to vote their replacement out too unless they measure up. Allowing a candidate to stay in office while they undermine civilian oversight of our government is a short term play.</p>
        <p>It's about sending a clear message: we will take away your power if you don't restore civilian oversight of our government.</p>
      </div>
    </div>
    <div id="footer">
      Copyright by Every Two Years - <a href="./attribution.html" class="attribution">Attributions</a> - <a href="https://github.com/Every-Two-Years/">Open By Design</a>
    </div>
  </body>
</html>
