---
---
<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}
    {% include splash.html %}
    <div id="content">
      <div class="callout">
        Thanks for considering us
      </div>
      <div class="subcontext">
        Every Two Years is our best attempt at making things better. We appreciate you clicking through our donation page. If there is any feedback you would like to give, we would love to listen: <a href="mailto:staff@everytwoyears.org">staff@everytwoyears.org</a>.
      </div>
      <div class="callout">
        Our Mission
      </div>
      <div class="measurement">
        <div class="icon">
          <a href="./mission.html#ems">
            <img alt="Surveillance" src="./media/camera.svg"/>
          </a>
        </div>
        <div class="description">
          <div class="title">End Mass Surveillance</div>
          <div class="text">
            Our government is actively breaking its own laws. Our elected officials have made holding the government accountable to its own laws illegal. Elected officials need to decriminalize holding our government accountable.
          </div>
        </div>
      </div>
      <div class="measurement">
        <div class="icon">
          <a href="./mission.html#bttpd">
            <img alt="Voting" src="./media/voting.svg"/>
          </a>
        </div>
        <div class="description">
          <div class="title">Break the Two Party Duopoly</div>
          <div class="text">
            Our elected officials have systematically created an unofficial two party system. Picking a "third party" candidate is widely considered a throw-away vote. Elected officials need to create a richer ballot system to give voters a true choice over their candidates
          </div>
        </div>
      </div>
      <div class="measurement">
        <div class="icon">
          <a href="./mission.html#sbmp">
            <img alt="Money" src="./media/money.svg"/>
          </a>
        </div>
        <div class="description">
          <div class="title">Stop Big Money Politics</div>
          <div class="text">
            Courts have created structures that allow corporations and individuals to spend unlimited resources on elections. Our elected officials need to get large donors out of Washington.
          </div>
        </div>
      </div>
      <div class="help">
      </div>
    </div>
    <div id="footer">
      Copyright by Every Two Years - <a href="./attribution.html" class="attribution">Attributions</a> - <a href="https://github.com/Every-Two-Years/">Open By Design</a>
    </div>
  </body>
</html>
