<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src="https://cdn.usefathom.com/script.js" site="TUTOUBMP" defer></script>
  <link href="/mailchimp-signup.css" rel="stylesheet" type="text/css">
  <link href="/normalize.css" rel="stylesheet" type="text/css"/>
  <link href="/index.css" rel="stylesheet" type="text/css"/>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary_large_image"></meta>
  <meta name="twitter:site" content="@every_2_years" />
  <meta property="og:url" content="https://everytwoyears.org" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.socialTitle }}" />
  <meta property="og:description" content="{{ page.socialDescription }}" />
  <meta property="og:image" content="https://everytwoyears.org{{ page.socialImage }}" />
</head>
